[submodule "deps/cryptoutils"]
	path = deps/cryptoutils
	url = https://github.com/Zilliqa/cryptoutils
[submodule "deps/schnorr"]
	path = deps/schnorr
	url = https://github.com/Zilliqa/schnorr.git
[submodule "deps/wide-integer"]
	path = deps/wide-integer
	url = https://github.com/ckormanyos/wide-integer
